body{
    background-image: url("../img/background.jpg");
    color: #dde1e2;
    font-family: "Goudy Bookletter 1911", sans-serif;
}
h1{
    width: 500px;
    background-color: #FF00FF;
    color: #C0C0C0;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 20px;
    padding: 1%;
    border: 3px solid #dde1e2;
    border-radius: 8px;
   
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height:60%;
}
p{
    text-align: left;
}
.center{
    text-align: center;
    margin: auto;
}
.bottom-box{
    background-color: #344155;
    width: 70%;
    font-size: 15px;
    margin: inherit;
    line-height: 30px;
    padding: 10px;
    margin-top: 50px;
}
.navbar {
    background-color: #fada5e;
    margin-bottom:2%;
    padding: 1%;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-weight:bolder;
    padding:1%;
    color:#263244;
}
.navbar a:hover{
    background-color: #e7ca56;
}
