<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="icon" href="{{ url_for('vito.static', filename='img/favicon.png') }}" type="image/png"> -->
        <title>MeetMe Personal</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='vendors/linericon/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='vendors/lightbox/simpleLightbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='vendors/nice-select/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='vendors/animate-css/animate.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='vendors/popup/magnific-popup.css') }}">
        <!-- main css -->
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('vito.static', filename='css/responsive.css') }}">
    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>About Me</h2>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        
        <!--================Home Banner Area =================-->
        <section class="profile_area">
           	<div class="container">
           		<div class="profile_inner p_120">
					<div class="row">
						<div class="col-lg-5">
							<img class="img-fluid" src="{{ url_for('vito.static', filename='img/Vito_Gano.jpg') }}" alt="">
						</div>
						<div class="col-lg-7">
							<div class="personal_text">
								<h6>Hello Everybody, I am</h6>
								<h3>Vito Gano</h3>
								<h4>Project Manager/GitHub Master @ SFSU</h4>
								<p>Hello Guys! My name is Vito Gano and I'm the Project Manager/Github Master of Team 1 @ SFSU!</p>
								<ul class="list basic_info">
									<li><a href="#"><i class="lnr lnr-envelope"></i>vgano1@mail.sfsu.edu</a></li>
									<li><a href="#"><i class="lnr lnr-home"></i> 1600 Holloway Ave, San Francisco, CA 94132</a></li>
								</ul>
								<ul class="list personal_social">
									<li><a href="https://www.linkedin.com/in/vito-gano-90a49a16a/"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="https://github.com/vgano1"><i class="fa fa-github"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
           		</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>I’m a senior at SF State and I’m looking to graduate by Spring 2021. I was born in the Philippines but throughout most of my life, I have lived in the Bay Area. 
								My favorite types of food are especially Japanese, Korean, and Vietnamese food. In my personal free time, I really like to play online games like World of Warcraft, League of Legends, or Valorant. 
								When I graduate, I would like to pursue entering the CS workforce in any field, however if I were to pick a specific field in the CS industry, 
								I would like to go into gaming as it is one of my favorite pastime hobbies and my favorite activity to do!</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
										<p>Very Versed at Java</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
										<p>Slightly Proficient at Python</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
										<p>Ready to Learn Other Languages!</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>Java <span class="counter">95</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Python <span class="counter">80</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>C++ <span class="counter">70</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>C <span class="counter">65</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>Would you like to learn more about me? Please check me on my social media platforms!</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="https://www.linkedin.com/in/vito-gano-90a49a16a/"><i class="fa fa-linkedin"></i></a></li>
        						<li><a href="https://github.com/vgano1"><i class="fa fa-github"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{ url_for('vito.static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='js/popper.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='js/stellar.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/lightbox/simpleLightbox.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/isotope/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/popup/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/counter-up/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='vendors/counter-up/jquery.counterup.min.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='js/mail-script.js') }}"></script>
        <script src="{{ url_for('vito.static', filename='js/theme.js') }}"></script>
    </body>
</html>