.gridcontainer {
    background-color: rgb(42, 42, 42);
    max-height: 100%;
    
  }
  .griditem {
    padding-left: 3em;
    margin: 1em 0;
    border-bottom: 3px solid white;
  }
  
  .item {
    background-color: rgb(42, 42, 42);
    font-size: 1em;
    text-align: left;
  }

  .griditem p {
    padding-left: 0.5em;
  }

  .item .content {
    padding-left: 3em;
  }

  .banner {
    margin: 0;
    padding: 0.5em 3em;
    background-color: #696969;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  h2, h1 {
    margin: 0.5em 0;
  }

  .content p {
    margin-top: 0;
    margin-bottom: 0;
  }